<h1>Donors List</h1>
<table>
    <tr id='table_header'><td>Class Period</td><td>Last name</td><td>First name</td><td>Supply</td></tr>
    {{#each donors}}
        <tr><td>{{this.donor_period}}</td><td>{{this.donor_lname}}</td><td>{{this.donor_fname}} </td><td>{{this.supply_name}}</td>
        <td><button><a href = "/donors/delete/{{this.donation_id}}">Delete</a></button></td></tr>
    {{/each}}   
</table>
<button>Download CSV</button>
<p><br><br></p>
<button class = 'homeButton'><a href='/'>Back to Home</a></button>
