<div class = 'container'>
<h1 class='display-4'bg='dark' >Donate Supplies to Ms. Fisher's Classroom</h1>

<blockquote class='blockquote'>Thank you for taking time to visit this web page and donating a needed classroom supply item.<br>
The donated supplies will help the teaching and learning of computer science be more interactive and meaningful!</blockquote>
<p></p>

<form action = '/addDonationForm' method = 'post'>
 <h2 >Submit a Donation Form</h2>
 <ul><li>Enter your first name, last name, email address and class period.</li>
 <li>Select a supply item from the dropdown menu that is still needed. </li>
 <li>Then press submit. </li>
</ul>
<p>A table of supplies and the quantity still needed for each supply is available below.</p>
    <div class='row'>
        <div class='col'> 
            <label for id='fname' >First name:  </label><input class="form-control" type = 'text' name = 'fname' required> <br>
        </div>
        <div class='col'>         
            <label for id='lname' >Last name:  </label><input class="form-control" type = 'text' name = 'lname' required> <br>
        </div>
    </div>
 
    <div class='row'>
        <div class='col'> 
            <label for id='email' >Email:  </label><input class="form-control" type='email' name = 'email' required> <br>
        </div>
        <div class='col'> 
            <label for id='period' >Class Period:  </label><select class="form-control" name='period' required><br>    
            <option value="" disabled selected> Select a class period</option>
            <option value=1>1st</option>
            <option value=2>2nd</option>
            <option value=4>4th</option>
            <option value=5>5th</option>
            <option value=6>6th</option>
            <option value=-1>N/A</option>
                    </select><br>
        </div>
     </div>
        <label for id='supply'>Supplies:  </label><select  class="form-control" name = 'supply_id' required>
        <option value ="" disabled selected> Select a supply item</option>
        {{#each supplies}}
            {{#if this.quantity_still_needed}}
                <option value = {{this.supply_id}}>{{this.supply_name}}</option>
            {{/if}}
        {{/each}}
    </select><br>

    <input class='btn btn-outline-primary' type="submit" value = 'Submit'></input> 
    <span>&nbsp &nbsp   * A confirmation message will be emailed to you. 
    </span>   
 
</form>

<p><br></p>
<h2><a href='/updateDonation'>Update</a> a Donation Form | <a href='/deleteDonation'>Delete</a> a Donation Form </h2>
<p><br></p>

<h2> Supplies List</h2>
<table class='table table-sm'>
    <tr id='table_header'><td>Supply</td><td>Total Quantity Needed</td><td>Quantity Still Needed</td></tr>
    {{#each supplies}}
        <tr><td>{{this.supply_name}}</td><td>{{this.total_quantity_needed}} </td><td>{{this.quantity_still_needed}}</td></tr>
    {{/each}}   
</table>
</div>