<div class = 'container'>
<h1 class='display-4'>Thank You</h1>

<blockquote class='blockquote'>Thank you for taking time to submit a donation form and for your donation, <span class = 'standoutText'>{{this.fname}}</span>! 
Please remember to bring your donated supply, <span class = 'standoutText'>{{this.supply_name}}</span> to class.</blockquote>
<p>You will receive an email message confirming your supply item donation. <br>
If you made an error in selecting a supply item donation, you can update or delete your donation form 
using the links above in the navigation bar and on the Donate page.
<br>You will need this unique donation id as a reference: <span class = 'standoutText'>{{this.donation_id}}</span>.
</p>
<blockquote class='blockquote'>Thank you!</blockquote>

<p></p>
<div class="row">

        <img class = 'img-fluid' src = {{this.meme}}
        alt = 'meme'>
</div>
<div class="row">
        <img class = 'img-fluid' src = {{this.img}}
        alt = 'school pic'>

    </div>

<p></p>
</div>
