<div class = 'container'>

<h1>Update Supply: {{supply.supply_name}}</h1>

<form action = '/supplies/update' method = 'post'>
<div class="row">
    <div class="col">
    Supply ID: <input class = 'form-control' type='number' name = 'supply_id' value = {{supply.supply_id}} readonly='readonly'> 
    </div>
    <div class="col">
    Supply Name: <input class = 'form-control' type='text' name = 'supply_name' value = '{{supply.supply_name}}' >
    </div>
</div>
<div class="row">
    <div class="col">
    Total Quantity Needed:  <input class = 'form-control' type='number' name = 'total_quantity_needed' value = {{supply.total_quantity_needed}}> 
    </div>
    <div class="col">
    Quantity Still Needed:  <input class = 'form-control' type='number' name = 'quantity_still_needed' value = {{supply.quantity_still_needed}}> 
    </div>   
</div>
    <input type="submit"></input>   
</form>
<p><br></p>
</div>

